.tableAdduserSection {
  overflow-x: auto;
}

table {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  border-collapse: collapse;
  margin-bottom: 20px;
  font-weight: 700;
  border-bottom: 1px solid rgb(182, 182, 226);

  th {
    background-color: #6C63AC;
    padding: 10px;
    text-align: center;
    color: white;
  }

  tr {
    // color: white;
    color:  #6C63AC;
    max-height: 40px;
   

    &:nth-child(even ) {
      // background-color: #f9f9f9;
      // color: #6C63AC;
      background-color:  rgb(182, 182, 226);
      color: #f9f9f9;
    }

    td {
      padding: 10px;
      width: 33%;

      .editSave {
        width: 32px;
        height: 32px;
        cursor: pointer;
        margin-right: 10px;
      }

      .delete-button {
        width: 32px;
        cursor: pointer;
      }

      input {
        border: none;
        background-color: transparent;
        color: black;
        font-weight: 300;
        padding: 4px;
        width: 80%;
        font-size: large;
        transition: border-bottom 0.3s ease;
        text-align: center;
        border-bottom: 2px solid #6C63AC;

        &:focus {
          outline: none;
          width: 80%;
          font-size: large;
          text-align: center;
          border-bottom: 2px solid #6C63AC;

        } 
      }
    }
  }
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-button {
  padding: 5px 10px;
  margin: 0 5px;
  border: 1px solid gray;
  background-color: white;
  color: black;
  cursor: pointer;
}

.pagination-button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination-button.active {
  background-color:#6C63AC;
  color: white;
}