.userMain-container {
     font-size: medium;
     padding: 10px 190px;

     h2 {
          margin-bottom: 20px;
          color: white;
     }

     .header{
          width: 100%;
          display: flex; 
          gap: 230px;
          margin-bottom: 15px;
     }
}