.userMain-container {
     font-size: large;
     padding: 10px 190px;

     h2 {
          margin-bottom: 20px;     
          // color: white;
        color: #6C63AC;
     }

     .header{
          width: 100%;   
          display: flex; 
          gap: 220px;
          margin-bottom: 15px;
     }
}