.dashboardMain-container {
     display: flex;


     .dashboard-options {

          width: 15%;
          height: 100vh;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 50px;
          background-color: white;
          padding: 80px 20px 20px;

          h3 {
               color: #6C63AC;
               display: flex;
               gap: 5px;

               &:hover {
                    color: #4634ce;
               }
          }
          

     }

     .dashboard-content {
          width: 85%;
          background-color: rgb(182, 182, 226);
          display: flex;
          flex-direction: column;
          gap: 10px;

          .logout {

               display: flex;
               justify-content: flex-end;

               .logout-button {
                    padding: 10px;
                    background-color: #f2f2f2;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;

                    &:hover {
                         background-color: #e0e0e0;
                    }
               }

          }
          
     }
}